# Dependencies
node_modules
.pnpm-store

# Production build / outputs
dist
dist-ssr
build
*.tsbuildinfo

# Environment variables
.env
.env.local
.env.*.local
!.env.example

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*

# Editor & OS files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
Thumbs.db

# Gemini / AI artifacts & temporary files
.gemini
